# Auto detect text files and perform LF normalization
*.cshtml linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.cs linguist-language=C#
